:root {
  --primary-color-light: #E0E0E0;
  --primary-color-dark: #757575;
  --secondary-color-light: #EEEEEE;
  --secondary-color-dark: #212121;
}

.dark {
  color: var(--primary-color-light);
  background: var(--primary-color-dark);
}

.light {
  color: var(--primary-color-dark);
  background: var(--primary-color-light);
}

.flex-container {
  display: flex;
  justify-content: center;
  border-radius: 0;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}


@media (max-width: 1200px) {
  .flex-container {
    flex-direction: column;
  }
}

.flex-container-h {
  font-size: 20px;
  font-weight: bold;
  vertical-align: bottom;
  text-align: bottom;
}

.flex-container-body {
  color: var(--primary-color-dark);
  background-color: var(--primary-color-light);
  border-radius: 0;
  padding: 0px;
  margin: 0px;
  width:100%;
}

.flex-container-footer {
  color: var(--primary-color-dark);
  background:var(--primary-color-light);
  border-radius: 0;
}

.flex-container-btn {
  border-radius: 0;
  font-size: 14px;
}

.flex-container-btn:hover {
  background-color: var(--secondary-color-light);
}
  
.flex-container-btn:focus {
  outline: none;
}

.flex-container-btn:active {
  border-style: none;
}

.flex-container-btn-nav {
  position:absolute;
  top:50px;
  width:70px;
  /*height:675px;*/
  height:100%;
  border:0 none;
  cursor: pointer;
  z-index: 100;
}

.flex-container-btn-nav:focus {
  outline: 0;
} 

.flex-container-btn-nav.next {
  right:16px;
  background:linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.6));
}

.flex-container-btn-nav.prev {
  left:16px;
  background:linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.6));
}

.flex-container-btn-nav-msw {
  height:375px;    
}

.flex-container-dmi-forecast {
  width: 662px;
}

/* Tabs in panel tab styling */
.nav-tabs>li.panel-tab.active>a {
  border-bottom: 2px solid var(--primary-color-dark);
  background-color: var(--primary-color-light);
}

.tab-toolbar {
  margin-top: 20px;
}