.tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background: var(--surface-color-l1);
  padding: 8px;
  margin: 8px;
  overflow-y: scroll;
}

.tile-md {
  width: 350px;
  height: 175px;
}

.tile-lg {
  width: 450px;
  height: 366px;
}

.tile-header, 
.tile-content, 
.tile-footer {
  padding: 8px;
}
input[type=radio].tile-radio {
  margin: 4px;
}

.tile-icon {
  cursor: pointer;
}

.tile-footer {
  min-height: 20px;
}

.tile-title {
  font-weight: bold;
}

.tile-logo-text {
  margin-left: 8px;
}

.tile-column {
  margin: 5px;
}

.indicator-lg {
  width: 125px;
  height: 300px;
}

.indicator-md {
  width: 125px;
  height: 80px;
}

.indicator-sm {
  width: 75px;
  height: 80px;
}

.indicator-title {
 font-weight: bold;
}

.indicator-content-lg {
  font-weight: bolder;
  font-size: xx-large;
}

.indicator-content-md {
  font-weight: bolder;
  font-size: xx-large;
}

.indicator-content-sm {
  font-weight: bolder;
  font-size: large;
  min-height: 35px;
}

.indicator-footer {
 font-weight: lighter;
 min-height: 20px;
}

.db-fact-text {
  margin-left: 8px;
}