:root {
  --form-bg-color: white;
  --form-color: rgb(50, 118, 177);
}

.btn-group .notActive {
  background-color: var(--form-bg-color);
  background-image: none;
  color: var(--form-color);
}

.tab-content {
  margin-top: 2rem;
}