.btn-group .notActive {
  background-color: var(--surface-color);
  background-image: none;
  color: var(--on-surface-color);
}

.tab-content {
  margin-top: 2rem;
}

.form-control {
  color: var(--on-surface-color);
  background-color: var(--surface-color-l1);
}

input.custom-select {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: var(--on-surface-color);
  background-color: var(--surface-color-l1);
  background-image: none;
  border: 1px solid #ccc;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

select {
  background-color: var(--bg-color);
}

.form-container {
  display: flex;
  flex-flow: row wrap;
}

.form-input {
  margin-bottom: 16px;
  padding-left: 16px;
}

.form-input-12 {
  width: 100%;
}

.form-input-6 {
  width: 50%;
}

.form-input-4 {
  width: 33%;
}

.form-input-3 {
  width: 25%;
}