.modal-content {
  color: var(--on-surface-color);
  background-color: var(--surface-color);
}

.modal-heading {
  font-size: medium;
  font-weight: bold;
}

.modal-close {
  cursor: pointer;
  color: var(--on-surface-color-l1);
  text-shadow: none;
}