:root {
  --primary-color-light: #E0E0E0;
  --primary-color-dark: #757575;
  --secondary-color-light: #EEEEEE;
  --secondary-color-dark: #212121;
}

.dark {
  color: var(--primary-color-light);
  background: var(--primary-color-dark);
}

.light {
  color: var(--primary-color-dark);
  background: var(--primary-color-light);
}

.flex-container {
  display: flex;
  border-radius: 0;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.panel {
  border-radius: 0;
  border: none;
  width: 100%;
}

.flex-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.panel-h {
  font-size: 20px;
  font-weight: bold;
  vertical-align: bottom;
  text-align: bottom;
}

.panel-body {
  color: var(--primary-color-dark);
  background-color: var(--primary-color-light);
  border-radius: 0;
  padding: 0px;
  margin: 0px;
  width:100%;
}

.panel-footer {
  color: var(--primary-color-dark);
  background:var(--primary-color-light);
  border-radius: 0;
}

.panel-btn {
  border-radius: 0;
  font-size: 14px;
}

.panel-btn:hover {
  background-color: var(--secondary-color-light);
}
  
.panel-btn:focus {
  outline: none;
}

.panel-btn:active {
  border-style: none;
}

.panel-btn-nav {
  position:absolute;
  top:49px;
  width:70px;
  height:82%;
  border:0 none;
  cursor: pointer;
  z-index: 100;
}

.panel-btn-nav:focus {
  outline: 0;
} 

.panel-btn-nav.next {
  right:15px;
  background:linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.6));
}

.panel-btn-nav.prev {
  left:15px;
  background:linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.6));
}

.panel-btn-nav-msw {
  height:375px;    
}


/* Tabs in panel tab styling */
.nav-tabs>li.panel-tab.active>a {
  border-bottom: 2px solid var(--primary-color-dark);
  background-color: var(--primary-color-light);
}

.tab-toolbar {
  margin-top: 20px;
}


