.txt-0 {
  color: var(--rating-0);
}

.txt-1 {
  color: var(--rating-1);
}

.txt-2 {
  color: var(--rating-2);
}

.txt-3 {
  color: var(--rating-3);
}

.txt-4 {
  color: var(--rating-4);
}

.txt-5 {
  color: var(--rating-5);
}

.bg-muted-0 {
  background-color: var(--rating-muted-0);
}

.bg-muted-1 {
  background-color: var(--rating-muted-1);
}

.bg-muted-2 {
  background-color: var(--rating-muted-2);
}

.bg-muted-3 {
  background-color: var(--rating-muted-3);
}

.bg-muted-4 {
  background-color: var(--rating-muted-4);
}

.bg-muted-5 {
  background-color: var(--rating-muted-5);
}

.bg-0 {
  background-color: var(--rating-0);
}

.bg-1 {
  background-color: var(--rating-1);
}

.bg-2 {
  background-color: var(--rating-2);
}

.bg-3 {
  background-color: var(--rating-3);
}

.bg-4 {
  background-color: var(--rating-4);
}

.bg-5 {
  background-color: var(--rating-5);
}

.label {
  color: var(--on-label-color);
}


