/* Reports list */
.list-group-item {
  display: flex;
  flex-direction: row;
  height: 50px;
  padding: 10px;
  align-items: center;
}

.report-list-img {
  width: 20px;
  height: 20px;
  margin: 5px;
}

.report-list-img-small {
  width: 12px;
  height: 12px;
  margin: 5px;
}

.report-list-title {
  font-size: small;
  font-weight: bold;
  margin-left: 10px;
  color: var(--on-surface-color);
}

.report-list-date {
  font-size: small;
  margin-left: 10px;
}

.report-info {
  display: flex;
  flex-direction: row;
  min-width: 200px;
}

.report-details {
  display: flex;
  flex-direction: row;
  margin: 10px;
  min-width: 50px;
}

.report-detail {
  margin: 1px;
  min-width: 15px;
}

.report-tide {
  width: 24px;
}

.report-conditions {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  min-width: 270px;
}

.report-condition {
  margin: 1px;
  font-size: xx-small;
  font-weight: normal;
  min-width: 50px;
}

.report-forecast-msw {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  min-width: 400px;
  height: 38px;
}

.report-forecast-msw-waveheight {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: var(--primary-color);
  height: 38px;
  color: var(--primary-txt-color);
  font-family: 'Helvetica Neue';
  font-weight: 700;
}

.report-forecast-msw-starrating {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 38px;
  min-width: 110px;
}

.report-forecast-sl-rating {
  min-width: 110px;
  font-weight: 700;
  font-size: 12px;
}

.list-item-h {
  display: inline-block;
}

.starrating-list {
  padding-left: 5px;
  padding-right: 10px;
  padding-inline-start: 5px;
}

.starrating {
  font-size: small;
}

.star {
  color: #f7f7f7;
}

.star-filled {
  color: #3cbbe8;
}

.star-open {
  color: #aee3f5;
}

.report-forecast-msw-swell {
  display: flex;
  flex-direction: row;
  color: var(--on-surface-color);
}

.report-forecast-msw-subswell {
  display: flex;
  flex-direction: row;
}

.report-forecast-msw-wind {
  display: flex;
  flex-direction: row;
}

.report-forecast-msw-value {
  padding: 5px;
  min-width: 48px;
  font-weight: bold;
}

.report-forecast-msw-value-narrow {
  padding: 2px;
  min-width: 30px;
  font-weight: bold;
  text-align: center;
}

.report-forecast-msw-value-small {
  padding: 5px;
  min-width: 40px;
  height: 38px;
  font-size: small;
  color: var(--secondary-txt-color)
}

.report-forecast-msw-value-xsmall {
  width: 10px;
  height: 38px;
}

.report-forecast-msw-value-short {
  width: 40px;
  height: 19px;
  font-size: small;
  color: var(--secondary-txt-color)
}

.report-forecast-msw-value-subdued {
  padding: 10px;
  min-width: 80px;
  height: 38px;
  color: var(--secondary-txt-color)
}

.report-forecast-select {
  margin-left: 20px;
}

/* REPORT */

.report-header,
.report-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.report-header {
  padding: 10px;
}

.report-header-title {
  color: var(--on-primary-color);
  font-size: medium;
  font-weight: bold;
  margin-left: 10px;
}

.report-header-details {
  color: var(--on-primary-color);
  font-size: x-small;
  margin-left: 10px;
}

.report-body {
  padding: 10px;
  min-height: 440px;
  background-color: var(--surface-color);
}

#carousel-session {
  min-height: 380px;
}

.report-session-control {
  min-height: 380px;
}

.report-session-indicators {
  visibility: hidden;
}

.report-session-control {
  opacity: 0;
}

.report-page-title {
  font-weight: bold;
  color: var(--primary-txt-color);
}

#report-wetsuit-img {
  float: left;
  opacity: 0.2;
}

#report-hood-txt {
  top: 25px;
}

#report-suit-txt {
  top: 70px;
}

#report-gloves-txt {
  top: 113px;
}

#report-boots-txt {
  top: 155px;
}

#report-board-txt {
  float: left;
  height: 200px;
}

.report-footer {
  align-items: flex-end;
  padding: 10px;
  color: var(--on-primary-color);
  background-color: var(--primary-variant-color);
}

.report-tools {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.report-tool {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  color: var(--on-primary-variant-color);
  margin-left: 10px;
  margin-right: 10px;
}

.report-tool:hover {
  cursor: pointer;
  color: var(--secondary-color);
}

.report-tools a {
  color: var(--primary-txt-color);
}








