.station-card.flex-row {
  margin-top: 20px;
  background-color: var(--surface-color-l1);
  height: 160px;
}

.station-card.flex-col {
  min-width: 100px;
  margin-left: 50px;
}

.station-card-spotName {
  font-size: xx-large;
  font-weight: bolder;
  margin: 50px 50px 0 0
}

.station-card-stationName {
  font-size: large;
  font-weight: bold;
  margin: 5px 50px 0 0;
}

.station-card-sunIcon {
 vertical-align: middle;
 height: 100px;
}

.station-card-sunTime {
  height: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.station-card-table {
  margin: 20px 0 0 150;
}


