/* Reduce pointer flickering when hovering over Google charts */
svg > g > g:last-child { pointer-events: none }

body {
    background-color: lightgray;
    width:100%;
    height:100%;
}

.padded {
  margin: 10px;
  padding: 10px 20px 10px 20px;   
}

.align-left { /* Align a element to left in a flex container */
  margin-left: auto;
}

/* NAVIGATION BAR */
.navbar {
    border-radius: 0;
}

.collapsable {
    cursor: pointer;   
}

.i-tool {
  font-size: 20px;
  cursor: pointer;
  padding:10px;
  color: darkgray;
}

.i-tool-small {
  font-size: 20px;
  cursor: pointer;
  margin-left: 5px;
  color: darkgray;
}

.i-tool:hover {
  color: gray;
}

.i-tool-small:hover {
  color: gray;
}

#navbar-profile-img {
    position: absolute;
    right: 10px;
    top: 5px;
    object-fit: cover;
    height: 40px;
    width: 40px;
}

/* FORECAST CONTAINERS */
.container-dmi {
  overflow: hidden;
}

.img-dmi {
  position:relative;
  left: -135px;
  clip-path: inset(0% 15% 0% 15%);
  -webkit-clip-path: inset(0% 15% 0% 15%);
}

.fullwidth {
  width:100%;
}

.my-footer {
  padding: 20px,0px,0px,0px;
  background-color: darkgray;
  color: lightgrey;
  border: 0;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width:799px) { /*Small devices */  
  .scrollcontainer,
  .container-yr {
      overflow-x: scroll;
  }
}