/* Reduce pointer flickering when hovering over Google charts */
svg > g > g:last-child { pointer-events: none }

html,
body {
    background-color: var(--app-bg-color);
    width:100%;
    height:100%;
    overflow-x: hidden;
}

.padded {
  margin: 10px;
  padding: 10px 20px 10px 20px;   
}

.align-left { /* Align a element to left in a flex container */
  margin-left: auto;
}

/* NAVIGATION BAR */
.navbar {
    border-radius: 0;
}

.collapsable {
    cursor: pointer;   
}

.i-tool {
  font-size: 20px;
  cursor: pointer;
  padding:10px;
  color: darkgray;
}

.i-tool-small {
  font-size: 20px;
  cursor: pointer;
  margin-left: 5px;
  color: darkgray;
}

.i-tool:hover {
  color: gray;
}

.i-tool-small:hover {
  color: gray;
}

#navbar-profile-img {
    position: absolute;
    right: 10px;
    top: 5px;
    object-fit: cover;
    height: 40px;
    width: 40px;
}

.img-dmi {
  position:relative;
  left: -17%;
  width: 136%;
  clip-path: inset(0% 17% 5% 19%);
  -webkit-clip-path: inset(0% 17% 5% 19%);
  overflow: hidden;
}

.img-msw,
.img-yr {
  width: 100%;
}

.fullwidth {
  width:100%;
}

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader-img {
  width: 50px;
  height: 50px;
}

.webcam-img {
  width: 100%;
}

/* Phone and pad */
@media screen and (max-width:1200px) { 
  .container-fluid {
    padding: 0;
  }
}

/* Phone portrait only */
@media screen and (max-width:414px) {  
  .col-fullwidth-xs {
    margin: 0;
    padding: 0;
  }
  
  .nav-tabs.flex-panel {
    flex-direction: column;
  }
    
  .panel-btn-nav.prev {
    left: 0px !important;
  }

  .panel-btn-nav.next {
    right: 0px !important;
  }
}

