:root {
  --primary-txt-color: #21292B;
  --secondary-txt-color: #56616C;
}

.th-flex, 
.td-flex {
  color: var(--primary-txt-color);
  height: 40px;
  width: 140px;
}

.th-flex {
  font-size: 12px;
  color: var(--secondary-txt-color);
}

.td-value {
  color: var(--primary-txt-color);
  font-size: 15px;
}

.td-secondary-value {
  font-size: 15px;
  color: var(--secondary-txt-color);
}

.img-weather {
  height: 32px;
  width: 32px;
}