:root {
  --primary-txt-color: #21292B;
  --secondary-txt-color: #56616C;
}

.forecast-table-heading {
  margin-top: 50px;
  font-size: x-large;
  font-weight: bolder;
}

tr {
  border-top: 1px solid var(--secondary-txt-color);
  border-bottom: 1px solid var(--secondary-txt-color);
}

.th-flex, 
.td-flex {
  color: var(--primary-txt-color);
  height: 40px;
  width: 140px;
}

.th-flex {
  font-size: 12px;
  color: var(--secondary-txt-color);
}

td {
  color: var(--primary-txt-color);
  font-size: 15px;
}

.td-secondary-value {
  color: var(--secondary-txt-color);
}

.img-weather {
  height: 32px;
  width: 32px;
}

.temp-freeze {
  color: #006EDB;
}

.temp-warm {
  color: #C60000;
}