:root {
  /* General */
  --app-bg-color: lightgrey;
  --primary-color-light: #E0E0E0;
  --primary-color-dark: #757575;
  --secondary-color-light: #EEEEEE;
  --secondary-color-dark: #212121;

  /* Forms */
  --form-bg-color: white;
  --form-color: rgb(50, 118, 177);


  /* Rating */
  --rating-0:grey;
  --rating-1: red;
  --rating-2:orange;
  --rating-3:blue;
  --rating-4:green;
  --rating-5:darkgreen;
  --rating-muted-0: rgba(128,128,128,0.1);
  --rating-muted-1: rgba(255,0,0,0.1);
  --rating-muted-2:rgba(255,165,0,0.1);
  --rating-muted-3:rgba(0,0,255,0.1);
  --rating-muted-4:rgba(0,128,0,0.1);
  --rating-muted-5:rgba(0,100,0,0.1);
  
  /* Reports */
  --primary-txt-color: #212121;
  --secondary-txt-color: #424242;
  --color-tool-highlight: rgba(90, 189, 249, 1);

  /* Station card */
  --primary-color-bg: white;
  --primary-txt-color: #21292B;
  --secondary-txt-color: #56616C;

  /* Table */
  --primary-txt-color: #21292B;
  --secondary-txt-color: #56616C;
}